@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    background-color: #000000;
    color: #fff;
    box-sizing: border-box;
    min-width: 0;
    font-family: "Poppins";
    
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 10%;
}
body{
    min-height: 100dvh;
    position: relative;
    padding-bottom: 20%;
}
nav #nav{
    display: grid;
    place-items: center;
}
#icono-nav{
    display: none;
}
.gato{
    position: fixed;
    left: 13.5%;
    top: 4.6%;
}
.gato i{
    cursor: pointer;
    font-size: 185%;
}
.gato i:hover{
    color: #ff8649;
    transform: scale(1.2);
}
.pierdes strong{
    color: #ff8649;
}
nav a{
    text-decoration: none;
    font-size: 140%;
    padding: 0px 20px;
}
a:hover{
    color: #98E4FF;
}
.titulo{
    padding-left: 17%;
    padding-top: 4%;
}
.titulo button{
    background: none;
    width: fit-content;
    padding: 5px 30px;
    border: 2px solid #98E4FF;
    color: #000000;
    background: linear-gradient(to right, #98E4FF, #98E4FF);
    transition: .5s;
    cursor: pointer;
    border-radius: 30px;
}
.titulo button:hover{
    transform: scale(1.1);
}
.titulo h2{
    color: #ff8649;
}
.titulo p{
    font-size: 112%;
}
.principal{
    padding-top: 5%;
    display: grid;
    place-items: center;
}
.principal .grida{
    display: flex;
    flex-wrap: wrap;
    font-size: 100%;
}
.principal .grida .prinuno{
    flex: 40%;
}
.principal .grida .prindos{
    flex: 60px;
}
.principal .grida .prindos a{
    text-decoration: none;
    color: #ff8649;
    font-size: 120%;
}
.printres{
    padding-top: 7.9%;
}
.printres h3{
    text-align: center;
}
.printres .tex{
    text-align: center;
}
.printres .tex p{
    padding: 0 150px;
    margin: 0 auto;
    width: fit-content;
    font-size: 120%;
    text-wrap: pretty;
}
footer{
    color: #fff;
    text-align:center;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.redes{
    display: flex;
    justify-content: space-around;
    font-size: 105%;
    padding: 2%;

}
/*responsive*/
@media screen and (max-width: 700px){
    .gato{
        display: none;
    }
    .responsive{
        display: none;
    }
    .titulo{
        padding-inline-start: 0;
    }
    .titulo h2{
        text-align: center;
        padding-bottom: 4%;
    }
    .grida{
        flex-direction: column;
    }
    .printres .tex p{
        padding: 0 20px;
        max-width: 100%;
        font-size: 100%;
    }
    body{
        padding-bottom: 30%;
    }
    footer{
        position: absolute;
        bottom: 0px;
        width: 100%;
    }

}
